<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://www.google-analytics.com" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
	<meta name="description" content="IHeartPy - Your friendly next-door Python Instructor!">
	<meta name="author" content="Diwank Singh Tomer - me [at] thediwank [dot] in">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="application-name" content="IHeartPy" />
	<meta name="msapplication-tooltip" content="Your friendly next-door Python Instructor!" />
	<meta name="msapplication-starturl" content="https://1heartpy.appspot.com/shell" />
	<meta name="msapplication-task" content="name=Shell;action-uri=https://1heartpy.appspot.com/shell;icon-uri=https://1heartpy.appspot.com/favicon.ico" />
	<meta name="msapplication-task" content="name=Resources;action-uri=https://1heartpy.appspot.com/resources;icon-uri=https://1heartpy.appspot.com/favicon.ico" />
	<meta name="msapplication-task" content="name=Instructions;action-uri=https://1heartpy.appspot.com/instructions;icon-uri=https://1heartpy.appspot.com/favicon.ico" />
	<title>I &hearts; Py - {{ title }}</title>
	<link rel="stylesheet" media="screen" href="/css/style.css">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>
<body>
  <div id="container">
		<header>
		<div class="header">
			<a href="/"><h1>IHeartPy!</h1></a>
			<h2> &hearts;The lovable Python Instructor&hearts; </h2>
			<blockquote>{{ quotation }} - <em>{{ quotation_author }}</em> <a href="{{ quotation_link }}"> [^] </a> </blockquote>
			{% if not mobile %}
			<span id="notifications"> <a href="http://iheartpy.uservoice.com/">Feedback</a> </span>
			<span id="social"> Share:
				<a href="https://plus.google.com/103920073326155272540/posts/ToCY78opHnW" target="_blank">+</a>
				<a href="http://www.facebook.com/sharer.php?s=100&p[title]=IHeartPy&p[url]=http://1heartpy.appspot.com/&p[summary]=TheLovablePythoninstructor" target="_blank">f</a>
				<a href="https://www.twitter.com/share?url=http://1heartpy.appspot.com/&text=IHeartPy&via=meetdagod" target="_blank">t</a>
				<a href="javascript:window.location=%22http://news.ycombinator.com/submitlink?u=%22+encodeURIComponent(document.location)+%22&t=%22+encodeURIComponent(document.title)" target="_blank">h</a>
			</span>
			{% else %}
			{% endif %}
		</div>
		<header>
		<hr></hr>
		<div id="main" role="main">
		<div class="resources">
			<span class="group">
				<h4> &#91; &#223; &#93; </h4>
				<ul>
					<li>&hearts; App still in pre-beta stage.</li>
					<li>&hearts; Keep away from five year olds and blondes.</li>
					<li>&hearts; Your fault if it breaks.</li>
					<li>&hearts; Do report any 'oh shit!' moments.</li>
				</ul>
			</span>
			<br/>
			<span class="group">
				<h4> Shell </h4>
				<ul>
					<li>&hearts; LOL: Toggles <a href="http://dalkescientific.com/writings/diary/archive/2007/06/01/lolpython.html" style="font-size:1em;margin-left:0;">LOLPython</a> mode.</li>
					<li>&hearts; theme: Could it have been named with any more <em>modesty?</em></li>
					<li>&hearts; print: Well... It prints.</li>
					<li>&hearts; clear: Yeah, it fills up the screen with random text... <em>C'mon!</em></li>
				</ul>
			</span>
			<br/>
			<span class="group">
				<h4> Badges </h4>
				<ul>
					<li>&hearts;  <a href="#" style="font-size:1em;margin-left:0;">Lover.</a> <em>Trust me, you're just getting started.</em></li>
					<li>&hearts;  <a href="#" style="font-size:1em;margin-left:0;">Rookie.</a> <em>The Basics.</em></li>
					<li>&hearts;  <a href="#" style="font-size:1em;margin-left:0;">Master.</a> <em>Go ahead cook some applications.</em></li>
					<li>&hearts;  <a href="#" style="font-size:1em;margin-left:0;">Pro.</a> <em>Apply at Google.</em></li>
					<li>&hearts;  <a href="#" style="font-size:1em;margin-left:0;">God.</a> <em>Why don't you get in touch with Guido?</em></li>
				</ul>
			</span>
			<br/>
			<span class="group">
				<h4> Feedback </h4>
				<ul>
					<li>&hearts; Hope you had fun.</li>
					<li>&hearts; Spread the love. Talk about it!</li>
					<li>&hearts; Feedback link is always floating around on top. <em>:-)</em></li>
				</ul>
			</span>
		</div>
		</div>
		<hr></hr>
		<footer>
		<div class="footer">
			<div class="links">
				<span>
				{% if user %}
					<a href="/shell"> Go to Shell! </a>
				{% else %}
					<a href="{{ login_url }}"> Hola! Login? </a>
				{% endif %}
					<a href="/"> Home </a>
					<a href="/resources"> Resources </a>
				</span>
			</div>
			<span class="copyright"> Copyright-(2010-12) Creatorrr! Labs <a href="/license.txt"> [^] </a> | Privacy? <a href="/privacy.txt"> [^] </a></span>
		</div>
		</footer>
  </div> <!--! end of #container -->
  {% if iOS %}
  <script type="text/javascript">
  var touchables = ['bar','group']
  for (classname in touchables)
  	{for (element in document.getElementsByClassName(classname))
		{
		element.addEventListener('touchstart', function(event) {
				  var touch = event.targetTouches[0];
				  var el=touch.target;
				el.id = (el.className.split(' ',1))+ '-touched';
				}, false);
		element.addEventListener('touchend', function(event) {
				  var touch = event.targetTouches[0];
				  var el=touch.target;
				  element.id='';
				  el.id = '';
				}, false);
		}
	}
  </script>
  {% endif %}
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{analytics_id}}']);
  _gaq.push(['_setDomainName', 'iheartpy.com']);
  _gaq.push(['_setAllowHash', false]);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <script>if(!(window.gat_ || window.gat_.getTracker_))document.write('<script src="js/libs/ga.js"><\/script>');</script>
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
